*{
    box-sizing: border-box;
}
html{
    background-image:url("background.jpg");
    background-size: cover;
}
body{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.key-container{
    display: flex;
    min-width: 90vw;
    justify-content: space-around;
}
.key{
    padding: .5rem 1rem;
    color: azure;
    border: .4rem solid black;
    display: inline;
    transition: all 0.1s ease;
    width: 6.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
kbd{
    display: block;
    font-size: 3rem;
}
div span{
    font-size: .4rem;
    color: #ffc600;
    font-size: 1rem;
}